{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head %}

{% endblock %}

{% block content %}
  <h1 class='text-center'>Sign Up</h1>
  {% if form.errors %}
    <p class='text-center'>Something went wrong</p>
  {% else %}
    <p class='text-center'>Please use the following form to signup:</p>
  {% endif %}

  <div class="col-12 col-sm-10 offset-sm-1 col-lg-8 offset-lg-2 ">
    <form action="{% url 'signup' %}" method="post">
      {{ form|crispy }}
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}"><!-- this variable is first set by the login view when you pass a 'next' parameter in the request (ex: http://127.0.0.1:8000/account/login/?next=/account/). The 'next' parameter has to be a url. If this parameter is given, the django login view will redirect the user to the give url after a succesful login.-->
      <div class='text-center mt-4'>
        <button type="submit" class="btn btn-primary">Sign Up</button>
      </div>
    </form>
  </div>
{% endblock %}
